body {
    margin: 0;
    padding: 0;
    background: pink;
    
}

.star-rating {
    position: absolute;
    display: flex;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotateY(180deg);
}

.star-rating input {
    display: none

}

.star-rating label {
    display: block;
    cursor: pointer;
    width: 50px;
    background: pink;
}

.star-rating label:before {
    content: '\f005';
    font-family: fontAwesome;
    position: relative;
    display: block;
    font-size: 50px;
    color: #101010
}

.star-rating label:after {
    content: '\f005';
    font-family: fontAwesome;
    position: absolute;
    display: block;
    font-size: 50px;
    color: #b6d1ef;
    top: 0;
    opacity: 0;
    transition: .5s;
    text-shadow: 0 2px 5px rgba(0, 0, 0, .5);

}

.star-rating label:hover:after,
.star-rating label:hover ~ label:after ,
.star-rating input:checked ~ label:after {
    opacity: 1;
}